/* Dự án: Thảo thiện Garden
Ngày tạo: 03/07/2022
Người tạo: Vũ Xuân Phát
Version: 1.0 */

/* ///Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-size: 16px;
    color: #999;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* HEADER */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #ffffff
}
.header__bar .nav-link{
    color: #3BA146;
    margin-right: 15px;
    font-size: 16px;
}
.header__bar .navbar-nav .nav-item .nav-menu::after{
    content: "";
    display: block;
    height: 1px;
    width: 0;
    background-image: linear-gradient(to right, #3BA146, #8FC43E);
    transition: all 0.5s;
    margin-top: 5px;
}
.header__bar .navbar-nav .nav-item .nav-menu:hover::after{
    width: 100%;
}
/* CAROUSEL */
.Mycarousel .carousel-item img{
    height: 100vh;
}
.carousel-item{
    position: relative;
}
.carousel-inner .carousel__overlay{
background: linear-gradient(to top, rgba(59, 161, 70, 0.8), rgba(143, 196, 62, 0.8));
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
}
.carousel__caption{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%,-50%);
    z-index: 101;
    color: #ffffff;
    font-size: 100px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

